<%= render 'layouts/nav' %>
<div class="row one">
  <div class="span1">
  </div>
  <div class="span3">
    <div class="container">
      <center><h1>Screen Print &amp; Embroidery<br> Order Management Software</h1></center>
      <center><h3>Our mission is to eliminate the redundancies in your shop.</h3></center>
    </div>
  </div>
</div>
<div class="row two">
  <div class="span6">
  </div>
  <div class="span1">
    <div class="container">
      <%= link_to 'Free Trial', new_account_path, :class => 'btn btn-large btn-primary' %>
    </div>
  </div>
</div>
<%= render 'layouts/footer' %>