<%= render 'layouts/nav' %>
<div class="row one">
  <div class="container">
      <center><h1><span>Screen Printing & Embroidery</span><br>Management Software</h1>
      </center>
      <div class="span4">
        <center><p><%= link_to 'Beta', '/register', :class => 'btn btn-primary' %></p></center>
      </div>
      <div class="span7">
        <center><iframe width="560" height="315" src="//www.youtube.com/embed/es6iwTjMLhQ" frameborder="0" allowfullscreen></iframe></center>
      </div>
  </div>
</div>
<div class="row two">
  <center>
    <div class="span3 selling">
      <center>
        <div class="icon-screenshot"></div>
        <h3>Simple & Focused</h3>
      </center>
        <p class="sold"><em>Print on Rails</em> is designed to allow your screen print or embroidery shop to focus on printing. This software was designed to minimize mistakes throughout the production process of garment printing. Minimizing mistakes starts with the simplicity of <em>Print on Rails<em></p>
    </div>
    <div class="span3 selling">
      <center>
        <div class="icon-cloud"></div>
        <h3>Cloud Based</h3>
      </center>
        <p class="sold"><em>Print on Rails</em> is a cloud based software. What does that mean for you? 24 hours a day, 7 days a week your software is accessible and in any location provided there is an internet connection.</p>
    </div>
    <!--
    <div class="span3 selling">
      <center>
        <div class="icon-envelope-alt"></div>
        <h3>Contact Us</h3>
      </center>
        <p class="sold">You may choose to <a href="mailto:info@printonrails.com">Email Us</a> or contact us via our social networks. </p>
         <ul id="social" >
          <div class="icon-twitter-sign"></div><a href=""> Twitter</a>
        </ul>
    </div>
  -->
    <div class="span3 selling">
      <center>
        <div class="icon-wrench"></div>
        <h3>Configurable</h3>
      </center>
        <p class="sold"><em>Print on Rails</em> was designed as flexible as possible. This is the most customizable software on the market for managing orders in the screen printing and embroidery industry. You can customize categories, priorities, statuses, and types according to the needs of your business.</p>
    </div>
    <div class="span3 selling">
      <center>
        <div><%= image_tag 'multidevice.png' %></div>
        <h3>Configurable</h3>
      </center>
        <p class="sold"><em>Print on Rails</em> was designed as flexible as possible. This is the most customizable software on the market for managing orders in the screen printing and embroidery industry. You can customize categories, priorities, statuses, and types according to the needs of your business.</p>
    </div>
  </center>
</div>
</center>
<%= render 'layouts/footer' %>
<br>