<div class="panel">
  <h3>Artwork</h3>
    <div class="panel_contents">
      <div id="attributes_table_employee_1" class="attributes_table">
        <table cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr>
              <th></th>
              <th>Download</th>
              <th>Location</th>
              <th>Ink Color(s)</th>
            </tr>
            <tr>
              <td><%= image_tag artwork.file_url(:artwork) if artwork.file? %></td>
            	<td><%= link_to @order.name, artwork.file_url.to_s, download: [@order.name,'-',@order.id]%></td>
            	<td><%= artwork.location %></td>
            	<td><%= artwork.color %></td>
            </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>