.account-form {
	margin-top: 15%;
	line-height: 60px;
	background-color:rgba(0,0,0,0.5);
} 
.account-form.h1 {
line-height: 80px;
}
.footer {
	background-color: #555;
	color: #ff8000;
}
.baseline {
	background-color: #333;
	color: orange;
}
.aaa {
	background-image:url('sign-up-bg.png');
	background-repeat: no-repeat;
	width: 100%;
	margin-left: none;
}
.pull-left {
	margin-left: 4%;
}
.span12.aaa {
	width: 100%;
	margin-left: 0px;
}
#orange-bg {
	background-color: orange;
	padding: 5px;
}