// Active Admin CSS Styles
@import "active_admin/mixins";
@import "active_admin/base";

// To customize the Active Admin interfaces, add your
// styles here:

a.button {
	margin-left: 10px 10px 10px 10px;
}
.field-row{
	margin: 5px;
}
li#order_name_input{
	width:60%;
	float: left;
}
li#order_end_date_input {
	width:60%;
	float: left;
}
li#order_customer_id_input{
	width: 30%;
	float: left;
	margin-left: 20px;
}
li#order_order_category_id_input{
	width: 30%;
	float: left;
	margin-left: 20px;
}
li#order_ship_input{
	width: 60%;
	float: left;
}
li#order_order_type_id_input{
	width: 30%;
	float: left;
	margin-left: 20px;
}
li#order_product_status_id_input{
	width: 30%;
	float: left;
	margin-left: 20px;
}
fieldset.inputs{
	margin-top: 10px;

}
.line_items h3 {
display: none;
}
.artworks h3 {
display: none;
}
.hidden{
	list-style-type: none;
}
li#customer_street_input {
	width: 50%;
	float: left;
}
li#customer_unit_input {
	width: 30%;
	float: left;
}
input#customer_unit {
	width: 60px;
}
li#customer_city_input {
	width: 40%;
	float: left;
}
li#customer_state_input {
	width: 15%;
	float: left;
}
li#customer_zip_input {
	width: 30%;
	float: left;
}
input#customer_zip {
	width: 60px;
}
#customer_street_input label.label {
	width: 75px;
}
#customer_city_input label.label {
	width: 75px;
}
#customer_state_input label.label {
	width: 75px;
}