// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar.footer {
	margin-top: 56px;
	background-color: #fff;
	color: #ff8000;
}
.one {
	margin-top: 10%;
}
a.mail {
	color: #0000ff;
}
.two {
	margin-top: 2%;
}
.blue {
	color: #0000ff;
}