// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Oxygen:300,400,700);
.navbar.footer {
	margin-top: 56px;
	background-color: #fff;
	color: #ff8000;
}
.row-fluid {
	margin-top: 1%;
	font-family: 'Oxygen', sans-serif;
}
.one {
	margin-top: 2%;
	margin-top: 3%;
}
.two {
	margin-top: 2%;
	background-color: #ff8000;
	height: 75px;
	font-family: 'Oxygen', sans-serif;
}
.three {
	margin-bottom: 50%;
}
.blue {
	color: #0000ff;
}

.table {
	margin-top: 10%;
}
.blue2 {
	padding: 2px 2px 2px 2px;
	background-color: #0000ff;
	color: #fff;
}
.green {
	padding: 2px 2px 2px 2px;
	background-color: #458B00;
	color: #fff;
}
.red {
	padding: 2px 2px 2px 2px;
	background-color: #FF0000;
	color: #fff;
}
thead th {
background: #444;
color: #fff;
}
.img-circle {
	border: 3px dashed orange;
	background-color: #666;
}
a.btn.btn-primary.btn-large {
	margin: 5px;
}
.video {
	margin-top: 2%;
	margin-bottom: 3%;
}
.business-name {
	color: #ff8000;
	font-size: 18px;
}
.affix {
	margin: 40px 0px 0px 0px;
}
.sidepanel {
	background-color: #ddd;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.pull-right {
	margin-right: 20px;
}
.nav-logo {
	margin-left: 20px;
	font-size: 30px;
	font-weight: bold;
}