// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
/*The home page navigation*/
.navigation {
	height: 50px;
	background-color:rgba(0,0,0,0.7);
	position:fixed;
	width: 100%;
	line-height: 50px;
	font-family: 'Open Sans', sans-serif;
}
	.navigation .nav-left {
		background-color: #222;
		height: 50px;
		padding-left: 5px;
		padding-right: 5px;
	}
	.pull-right {
		margin-right: 20px;
		font-size: 18px;
	}
	.nav-logo {
		font-size: 30px;
		font-weight: bold;
	}
	.login-nav {
		background-color: green;
		margin-right: 5px;
		padding: 7px;
	}
	.sign_up {
		background-color: blue;
		margin-right: 5px;
		padding: 7px;
	}
.one {
	color: black;
	background-image:url('bg_img.png');
	background-repeat: no-repeat;
	font-family: 'Open Sans', sans-serif;
}
.span4.call-tag {
	margin-top: 6%;
	}
	.call-tag-1 {
		color: white;
		background-color:rgba(0,0,0,0.5);
		font-size: 34px;
		line-height: normal;
		font-weight: 700;
		padding: 3%;
	}
	.call-tag-4 {
		margin-top: 0px;
		color: black;
		background-color:rgba(255,128,0,0.8);
		padding: 3%;
		font-family: 'Open Sans', sans-serif;
		font-size: 18px;
		font-weight: 700;
	}
.sign-up {
	font-size: 30px;
	background-color: #333;
	height: 70px;
	line-height: 70px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: orange;
}
.sign-up-middle {
	background-color: blue;
	font-size: 20px;
	padding: 7px;
	margin-left: 10px;
	font-weight: 400;
}
.video {
	margin: 7%;
}
#video-background {
	background-color: white;
	padding: 5px;
}
.call-tag {
	margin: 7%;
}
.business-name {
	color: #ff8000;
	font-size: 18px;
}
.affix {
	margin-top: 50px;
	margin-left: none;
}
.media {
	background-color: white;
}
.cloud {
	margin-left: 4%;
	font-size: 20px;
	padding-top: 15%;
	padding-bottom: 15%;
	padding-left: 4%;
	padding-right: 4%;
	line-height: 25px;
}
.footer {
	background-color: #555;
	color: #ff8000;
}
.baseline {
	background-color: #333;
	color: orange;
}
#orange {
	color: orange;
}
#white {
	color: white;
}
#bold {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}
#light-grey {
	background-color: #eee;
}
#blue-pages {
	color: blue;
}