@import url(http://fonts.googleapis.com/css?family=Oxygen:300,400,700);

$navbarBrandColor: white;
$navbarLinkBackgroundActive: white;
$navbarLinkColor: white;
$navbarLinkColorHover: orange;
$navbarBackgroundHighlight: #ffffff; 

@import 'bootstrap';
.navbar {
  height: 40px;
  background-color: #444;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}
.btn.a, a:link, a:visited {
  color: #ffffff;
}
@import 'bootstrap-responsive';
a:link {
  text-decoration: none;
}