@import url(http://fonts.googleapis.com/css?family=Oxygen:300,400,700);

$navbarBrandColor: white;
$navbarLinkBackgroundActive: white;
$navbarLinkColor: white;
$navbarLinkColorHover: orange;
$navbarBackgroundHighlight: #ffffff; 

@import 'bootstrap';
.navbar {
  height: 40px;
  background-color: #444;
  font-family: 'Oxygen', sans-serif;
  font-weight: 300;
}
.brand {
  font-size: 18pt;
  text-decoration: none;
}
.navbar .nav > li > a {
  float: none;
  padding: 10px 15px 10px;
  color: white;
  text-shadow: 0 0px 0 orange;
}
.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #555555;
  text-decoration: none;
  background-color: white;
  -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
  -moz-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.125);
}
.btn.a, a:link, a:visited {
  color: #ffffff;
  text-decoration: underline;
}
.one {
  font-family: 'Oxygen', sans-serif;
  font-weight: 700;
}
h1 {
  font-size: 38.5px;
  margin-top: 7%;
}

.center {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-left: 20px;
}
.two {
  background-color: orange;
  padding-bottom: 40px;
  padding-right: 0px;
  padding-top: 40px;
  padding-right: 0px;
  position: auto;
}
div.icon-screenshot {
    font-size: 40px;
    padding-bottom: 10px;
  }

  div.icon-cloud {
    font-size: 40px;
    padding-bottom: 10px;
  }

  div.icon-envelope-alt {
    font-size: 40px;
    padding-bottom: 10px;
  }

  div.icon-wrench {
    font-size: 40px;
    padding-bottom: 10px;
    }
.sold {
  text-align: left;
}
div.icon-twitter-sign {
    font-size: 30px;
    text-align: left;
  }
  p.lead {
    line-height: 135%;
  }



@import 'bootstrap-responsive';
input, textarea {
  color: #666 !important;
  font-size: 16px !important;
}

a:link {
  text-decoration: none;
}