@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700);

$navbarBrandColor: white;

@import 'bootstrap';
.navbar {
  height: 40px;
  background-color: #444;
  font-family: 'Open Sans', sans-serif;
}
.brand {
  font-size: 18pt;
  font-family: 'Open Sans', sans-serif;
}
.center {
  padding-top: 40px;
  font-family: 'Open Sans', sans-serif;
  padding-bottom: 40px;
  margin-left: 20px;
}
.preview {
  font-family: 'Open Sans', sans-serif;
  padding-top: 40px;
  background-color: orange;
  margin-left: 0px;
  padding-bottom: 40px;
}
.img {
  margin-left: 0px;
  margin-right: auto;
}
.feature {
  font-family: 'Open Sans', sans-serif;
  padding-top: 40px;
  padding-right: 0px;
}
div.carousel-caption {
  margin-left: 10px;
  text-align: left;
  color: orange;
}
div.icon-screenshot {
    font-size: 40px;
    padding-bottom: 10px;
  }

  div.icon-cloud {
    font-size: 40px;
    padding-bottom: 10px;
  }

  div.icon-envelope-alt {
    font-size: 40px;
    padding-bottom: 10px;
  }

  div.icon-wrench {
    font-size: 40px;
    padding-bottom: 10px;
    }
.sold {
  text-align: left;
}
div.feature {
  margin-left: 10px;
    position: auto;
    font-family: 'Open Sans', sans-serif;
  }
div.icon-twitter-sign {
    font-size: 30px;
    text-align: left;
  }
  p.lead {
    line-height: 135%;
  }



@import 'bootstrap-responsive';
input, textarea {
  color: #666 !important;
  font-size: 16px !important;
}

.btn-submit
{
  background-color: #0000ff;
  color: #fff !important;
  font-size: 18px !important;
  padding: 5px 10px 5px 10px;
  margin-left: 3px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px; /* future proofing */
  border:none;
}

.btn-submit:hover
{
  background-color: #00a700 !important;
}

