<div class="row-fluid">
	<div class="span12 baseline">
		<div class="pull-left">
	        <div class="#">
	          <p><span id="blue-pages">&copy; 2013</span> Print on Rails<br> Founded &amp; Developed by <span id="blue-pages">Daniel Hatcher</span></p>
	        </div>
	    </div>
    </div>
</div>