<div class="navbar navbar-fixed-bottom footer">
	<div>
		<ul class="pull-left">
			<p><span class="blue">&copy; 2013</span> Print on Rails<br> Founded &amp; Developed by <span class="blue">Daniel Hatcher</span></p>
		</ul>
	</div>
</div>