<div class="navbar navbar-fixed-top">
  <div class="container">
    <a class="brand" href="#">Print on Rails</a>
      <ul class="nav">
        <li class="active white"><a href="#">Features</a></li>
        <li><a href="#">Features</a></li>
        <li>
          <button class="btn btn-small btn-primary" type="button">
            <%= link_to 'Sign Up', new_account_path %>
          </button>
        </li>
      </ul>
      <ul class="pull-right nav">
        <li><a href="#">Login</a></li>
      </ul>
  </div>
</div>