<div class="navbar navbar-fixed-top">
	<div class="row-fluid">
    <div class="pull-left">
      <%= link_to 'Print on Rails', root_path, :class => "nav-logo" %>
    </div>
    <div class="pull-right">
    	<%= link_to 'Login', admin_dashboard_path %>
    </div>
  </div>
</div>