<!DOCTYPE html>
<html>
<head>
  <title>PrintOnRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href="//netdna.bootstrapcdn.com/font-awesome/3.1.1/css/font-awesome.css" rel="stylesheet">
  <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
  <meta name="google-site-verification" content="mhRzrNtxLylY5V503Ak5rsKGvyxyyfXed1PM-vpZwQc" />
</head>
<body>
	<div class="container">
	<%= yield %>
</body>
</html>
